<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<section class="banner">
    <h2>BOOK YOUR TABLE NOW</h2>
    <div class="card-container">
        <div class="card-content">
            <form (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <input type="text" placeholder={{username}} name="name" [(ngModel)]="formData.name">
                    <input type="text" placeholder="Phone Number" name="phone" [(ngModel)]="formData.phone">
                </div>

                <div class="form-row">
                    <input type="text" placeholder="Email" name="email" [(ngModel)]="formData.email">
                    <input type="number" placeholder="How Many Persons?" min="1" name="guests"
                        [(ngModel)]="formData.guests">
                </div>

                <div class="form-row">
                    <input type="datetime-local" name="time" [(ngModel)]="formData.time"> 
                </div>

                <div class="message-row">
                    <input type="text" placeholder="Reservation message" name="message" [(ngModel)]="formData.message">
                </div>

                <div class="form-row-btn">
                    <input type="submit" value="BOOK TABLE">
                </div>

            </form>
        </div>
    </div>



   
</section>