<div class="container">
  <img
    [src]="product?.data?.attributes?.Picture?.data?.attributes?.url"
    alt=""
  />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ product?.data?.attributes?.name }}
      </span>
      <span class="favorite"> ♡ </span>
    </div>
    <div class="star"></div>
    <div class="origins">
      <span>
        {{ product?.data?.attributes?.description }}
      </span>
    </div>
    <div class="tag">
      <!-- <app-tag></app-tag> -->
    </div>
    <div class="cook-time">
      <!-- <span >
          {{product.data.attributes.description}} 🕒 <strong>7</strong>
        </span> -->
    </div>
    <div class="price">
      <span>
        {{ product?.data?.attributes?.price }}
      </span>
    </div>
    <!-- <button (click)="addToCart()" >Add to Cart</button> -->
    <button (click)=addtocart(product)>Add to Cart</button>
  </div>
</div>

<div class="container">
  <div class="row d-flex">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">toka</h5>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <p class="card-text mt-2">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">toka</h5>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <p class="card-text mt-2">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">toka</h5>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <p class="card-text mt-2">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <form (ngSubmit)="onSubmit()">
    <h2> React Ratings </h2>
    <div class="stars">
      <ng-container *ngFor="let i of stars">
        <i
          class="fa-sharp fa-solid fa-star"
          (click)="updateRating(i)"
          [ngClass]="{ active: i <= rating }"
        ></i>
      </ng-container>
    </div>
    <textarea name="comment" [(ngModel)]="formData.comment"
    
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>

    <button
    type="submit"
      class="button"
    click="submit()">
      Submit
    </button>
    </form>
  </div>

</div>
