<!-- <div class="sidebar">


  <div class="sidebar-menu">
    <span class="fas fa-home"></span>
    <a href="customer/home">Home</a>
  </div>

  <div class="sidebar-menu">
    <span class="fas fa-clipboard-list"></span>
    <a href="customer/order">Orders</a>
  </div>

  <div class="sidebar-menu">
    <span class="fas fa-book"></span>
    <a href="customer/booking/history">Bookings</a>
  </div>

  <div class="sidebar-menu">
    <span class="fas fa-shopping-cart"></span>
    <a href="customer/cart">Cart</a>
  </div>

    <div class="log sidebar-menu">

            <a href="/customer/login"><span class="las la-arrow-left"></span>
                <span>Logout</span></a>

    </div>
</div> -->

<!-- <app-loader *ngIf="isLoading"></app-loader> -->
<input type="checkbox" id="nav-toggle" />

<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="las la-star"></span> <span>Food</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="customer/home" class="active"
          ><span class="las la-home"></span> <span>Home</span></a
        >
      </li>
      <!-- <li>
        <a href="customer/customers"><span class="las la-user-friends"></span>
          <span>Customers</span></a>

      </li> -->
      <li>
        <a href="customer/order"
          ><span class="las la-hamburger"></span> <span>Orders</span></a
        >
      </li>
      <li>
        <a href="/customer/booking/history"
          ><span class="las la-clipboard-list"></span> <span>Bookings</span></a
        >
      </li>
      <!-- <li>
        <a href="customer/drivers"><span class="las la-car"></span>
          <span>Drivers</span></a>

      </li> -->
      <li>
        <a href="/customer/cart"
          ><span class="las la-shopping-cart"></span> <span>Cart</span></a
        >
      </li>
      <!-- <li>
        <a href="/customer/reviews"
          ><span class="las la-star-half-alt"></span>
          <span>Reviews & Ratings</span></a
        >
      </li> -->
    </ul>
  </div>
  <div class="log">
    <li>
      <a href="/customer/login"
        ><span class="las la-arrow-left"></span> <span>Logout</span></a
      >
    </li>
  </div>
</div>

<div class="main-content">
  <header>
    <h1>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
    </h1>

    <div class="user-wrapper">
      <ul class="why">
        <li class="notification-icon" (click)="openNotificationModal()">
          <i class="las la-bell m"></i>
          <span class="notification-count">{{ final.length }}</span>
        </li>
        <li><a href="customer/cart"><span class="fa-solid fa-cart-shopping"><span class="badge badge-info">{{getCartDetails.length}}</span></span>
        </a></li>
      </ul>

      <img
        src="https://cdn-icons-png.flaticon.com/512/25/25634.png"
        width="40px"
        height="40px"
        alt=""
      />
      <div>
        <small class="mb-4">{{username}}</small>
        <!-- <small>Addmin</small> -->
      </div>
    </div>
  </header>
</div>
<div
class="modal"
[hidden]="!showNotificationModal"
(click)="closeNotificationModal()"
>
<div class="d-flex flex-column mb-3">
  <ul *ngFor="let item of orders">
    <div class="d-flex justify-content-end">
    <li  class="sho" *ngIf="item?.attributes?.camel === null">
      {{ item?.attributes?.notification }}
      <button
        class="d-flex justify-content-end mt-3"
        (click)="closeNotificationModal()"
        (click)="approveItem(item)"
      >
        close
      </button>
    </li>
    </div>
  </ul>
</div>
</div>
