.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    background-color: grey;
    z-index: 1;
    padding-top: 70px;
}

.sidebar-menu{
    width: 100%;
   display: flex;
    padding: 10px 5px;
    color: black;
    gap: 3px;
}
.sidebar-menu > a {
 text-decoration: none;
 line-height: 1.5;
 color: black;
}

.sidebar-menu > span {
    line-height: 1.5;
    /* text-align: center; */
}

.sidebar-menu:hover{
border-right: 2px solid blue;
color: blue;
}

.sidebar-menu:hover > a{
color: blue;
}
