<div class="sidebar">
    <!-- <div class="sidebar-menu">
        <span class="fas fa-search"></span>
        <a href="#">Search</a>
    </div> -->

    <div class="sidebar-menu">
        <span class="fas fa-home"></span>
        <a href="customer/home">Home</a>
    </div>


    <div class="sidebar-menu">
        <span class="fas fa-clipboard-list"></span>
        <a href="customer/booking">Orders</a>
    </div>

    <div class="sidebar-menu">
        <span class="fas fa-book"></span>
        <a href="customer/booking/history">Bookings</a>
    </div>

    <div class="sidebar-menu">
        <span class="fas fa-shopping-cart"></span>
        <a href="customer/cart">Cart</a>
    </div>

    <!-- <div class="sidebar-menu">
        <span class="fas fa-user"></span>
        <a href="#">Profile</a>
    </div> -->
    <div class="log sidebar-menu">
        
            <a href="/customer/login"><span class="las la-arrow-left"></span>
                <span>Logout</span></a>
       
    </div>
</div>




<!-- <div class="dlabnav  border-right false ">
    <div class="scrollbar-container dlabnav-scroll ps">
        <ul class="metismenu" id="menu">
            <li class="menu-title"> Main Menu</li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-grid"></i><span
                        class="nav-text">Dashboard</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/dashboard">Dashboard Light</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/dashboard-dark">Dashboard Dark</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/food-order">Food Order</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/favorite-menu">Favorite Menu</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/message">Message</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/order-history">Order History</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/notification">Notification</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/bill">Bill</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/setting">Setting</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-shop-window"></i><span
                        class="nav-text">Restaurant</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/restaurant">Restaurant</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/menu">Menu</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/orders">Orders</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/customer-reviews">Reviews</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-bicycle"></i><span
                        class="nav-text">Drivers</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/deliver-main">Dashboard</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/deliver-order">Orders</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/feedback">Feedback</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class="menu-title">Other</li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-info-circle"></i><span
                        class="nav-text">Apps</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/app-profile">Profile</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/post-details">Post Details</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a aria-current="page" class="has-arrow active" href="/react/demo/dashboard">Email</a>
                        <ul class="mm-show collapse">
                            <li><a class="" href="/react/demo/email-compose">Compose</a></li>
                            <li><a class="" href="/react/demo/email-inbox">Index</a></li>
                            <li><a class="" href="/react/demo/email-read">Read</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="/react/demo/app-calender">Calendar</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a aria-current="page" class="has-arrow active" href="/react/demo/dashboard">Shop</a>
                        <ul class="mm-show collapse">
                            <li><a class="" href="/react/demo/ecom-product-grid">Product Grid</a></li>
                            <li><a class="" href="/react/demo/ecom-product-list">Product List</a></li>
                            <li><a class="" href="/react/demo/ecom-product-detail">Product Details</a></li>
                            <li><a class="" href="/react/demo/ecom-product-order">Order</a></li>
                            <li><a class="" href="/react/demo/ecom-checkout">Checkout</a></li>
                            <li><a class="" href="/react/demo/ecom-invoice">Invoice</a></li>
                            <li><a class="" href="/react/demo/ecom-customers">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-pie-chart"></i><span
                        class="nav-text">Charts</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/chart-rechart">RechartJs</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/chart-chartjs">Chartjs</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/chart-sparkline">Sparkline</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/chart-apexchart">Apexchart</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-star"></i><span
                        class="nav-text">Bootstrap</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/ui-accordion">Accordion</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-alert">Alert</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-badge">Badge</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-button">Button</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-modal">Modal</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-button-group">Button Group</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-list-group">List Group</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-card">Cards</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-carousel">Carousel</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-dropdown">Dropdown</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-popover">Popover</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-progressbar">Progressbar</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-tab">Tab</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-typography">Typography</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-pagination">Pagination</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/ui-grid">Grid</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i class="bi bi-heart"></i><span
                        class="nav-text">Plugins</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/uc-select2">Select 2</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/uc-sweetalert">Sweet Alert</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/uc-toastr">Toastr</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/map-jqvmap">Jqv Map</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/uc-lightgallery">Light Gallery</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="" href="/react/demo/widget-basic"><i class="bi bi-gear-wide"></i><span
                        class="nav-text">Widget</span></a>
                <ul class="collapse"></ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i
                        class="bi bi-file-earmark-check"></i><span class="nav-text">Forms</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/form-element">Form Elements</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/form-wizard">Wizard</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/form-ckeditor">CkEditor</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/form-pickers">Pickers</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/form-validation">Form Validate</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i
                        class="bi bi-file-earmark-spreadsheet"></i><span class="nav-text">Table</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a href="/react/demo/table-filtering">Table Filtering</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/table-sorting">Table Sorting</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                    <li class=""><a href="/react/demo/table-bootstrap-basic">Bootstrap</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
            <li class=" "><a class="has-arrow" href="/react/demo/dashboard"><i
                        class="bi bi-file-earmark-break"></i><span class="nav-text">Pages</span></a>
                <ul class="mm-show collapse">
                    <li class=""><a aria-current="page" class="has-arrow active" href="/react/demo/dashboard">Error</a>
                        <ul class="mm-show collapse">
                            <li><a class="" href="/react/demo/page-error-400">Error 400</a></li>
                            <li><a class="" href="/react/demo/page-error-403">Error 403</a></li>
                            <li><a class="" href="/react/demo/page-error-404">Error 404</a></li>
                            <li><a class="" href="/react/demo/page-error-500">Error 500</a></li>
                            <li><a class="" href="/react/demo/page-error-503">Error 503</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="/react/demo/page-lock-screen">Lock Screen</a>
                        <ul class="mm-show collapse"></ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="plus-box">
            <div class="d-flex align-items-center">
                <h5>Upgrade your Account to Get Free Voucher</h5>
            </div><a class="btn bg-white btn-sm" href="/react/demo/dashboard">Upgrade</a>
        </div>
        <div class="copyright mt-0">
            <p><strong>Food Desk - Online Food Delivery Admin Dashboard</strong> © 2022 All Rights Reserved</p>
            <p class="fs-12">Made with<span class="heart"></span> by DexignLab</p>
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 806px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 646px;"></div>
        </div>
    </div>
</div> -->