<div class="dashboard">
    <div class="dashboard-banner">
        <img src="https://images.unsplash.com/photo-1475332363216-323c9b7f1e81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGludGVybmF0aW9uYWwlMjBmb29kfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
        <div class="banner-promo">
            <h1><span>50% OFF</span><br>Tasty Food<br> On Your Hand</h1>
        </div>
    </div>
    <h3 class="dashboard-title">Recommended Food For You</h3>
    <div class="dashboard-menu">
        <a href="#" >Specials</a>
        <a href="#" >Specials</a>
        <a href="#" >Specials</a>
        <a href="#" >Specials</a>
        <a href="#" >Specials</a>
    </div>
</div>

