<!-- <input type="checkbox" id="cart">
<label for="cart" class="label-cart">
    <a href="customer/cart"><span class="fa-solid fa-cart-shopping"><span class="badge badge-info">{{getCartDetails.length}}</span></span>
    </a></label>
<h3 class="logo">Food</h3> -->
<!-- <h3 class="logo">Food</h3> -->

<input type="checkbox" id="cart">
<label for="cart" class="label-cart">
    <a href="customer/cart"><span class="fa-solid fa-cart-shopping"><span class="badge badge-info">{{getCartDetails.length}}</span></span>
    </a></label>
<h3 class="logo">Food</h3> 