<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="col toka">
  <div class="row">
    <div class="col-xl-12">
      <div class="card dlab-bg dlab-position">
        <div class="card-header border-0 pb-0">
          <h4 class="cate-title">Your Cart</h4>
        </div>
        <div
          class="order-check d-flex align-items-center my-3"
          *ngFor="let item of getCartDetails; let i = index"
        >
          <div class="dlab-media">
            <img
              src="{{ item?.attributes?.Picture?.data?.attributes?.url }}"
              alt=""
            />
          </div>
          <div class="dlab-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="dlab-title">
                <a href="/react/demo/dashboard-dark">
                  {{ item?.attributes?.name }}</a
                >
              </h4>
              <h4 class="text-primary ms-2">
                R
                {{
                  item?.attributes?.quantity * item?.attributes?.price | number
                }}
              </h4>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <span
                >R {{ item?.attributes?.price }} x
                {{ item?.attributes?.quantity }}</span
              >
              <div class="quntity">
                <button
                  (click)="decQnt(item.prodId, item?.attributes?.quantity)"
                >
                  <i class="fa fa-minus"></i></button
                ><input
                  data-value="true"
                  type="text"
                  value="{{ item?.attributes?.quantity }}"
                /><button
                  (click)="incQnt(item.prodId, item?.attributes?.quantity)"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-2 text-primary" style="opacity: 0.9" />
        <div class="card-footer pt-0 border-0">
          <div
            class="d-flex align-items-center justify-content-between mb-3 mt-3"
          >
            <h4 class="font-w500">Total</h4>
            <h3 class="font-w500 text-primary">R {{ total }}</h3>
          </div>
          <div class="try">
            <a class="btn btn-primary btn-block" (click)="onSubmit()"
              >Checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
