<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-8">
              <div class="basci-title"><h4>Your basic information</h4></div>
              <form [formGroup]="checkoutForm">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="mb-3">
                      <input
                      formControlName="name"
                        type="Text"
                        class="form-control"
                        placeholder={{username}}
                      />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="mb-3">
                      <input
                      formControlName="phoneNumber"
                        type="Text"
                        class="form-control"
                        placeholder="Phone Number"
                      />
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="mb-3">
                      <input
                      formControlName="email"
                        type="email"
                        class="form-control"
                        placeholder={{email}}
                      />
                    </div>
                  </div>
                </div>

                <div class="Billing-bx mb-3">
                  <div class="billing-title"><h4>Billing address</h4></div>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="mb-3">
                        <input
                      
                        formControlName="address"
                          type="text"
                          class="form-control"
                          placeholder="Enter your Address"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="payment-bx mb-3">
                <div class="payment-title">
                  <h4>Your payment information</h4>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="mb-3">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Enter a card no."
                      />
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div
                      class="custom-react-select mb-xl-0 mb-3 css-b62m3t-container"
                    >
                      <span
                        id="react-select-41-live-region"
                        class="css-7pg0cj-a11yText"
                      ></span
                      ><span
                        aria-live="polite"
                        aria-atomic="false"
                        aria-relevant="additions text"
                        class="css-7pg0cj-a11yText"
                      ></span>
                      <div class="css-13cymwt-control">
                        <div class="css-hlgwow">
                          <div class="css-1dimb5e-singleValue">Month</div>
                          <input
                            id="react-select-41-input"
                            tabindex="0"
                            inputmode="none"
                            aria-autocomplete="list"
                            aria-expanded="false"
                            aria-haspopup="true"
                            role="combobox"
                            aria-readonly="true"
                            class="css-1hac4vs-dummyInput"
                            value=""
                          />
                        </div>
                        <div class="css-1wy0on6">
                          <span class="css-1u9des2-indicatorSeparator"></span>
                          <div
                            class="css-1xc3v61-indicatorContainer"
                            aria-hidden="true"
                          >
                            <svg
                              height="20"
                              width="20"
                              viewBox="0 0 20 20"
                              aria-hidden="true"
                              focusable="false"
                              class="css-8mmkcg"
                            >
                              <path
                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div
                      class="custom-react-select mb-xl-0 mb-3 css-b62m3t-container"
                    >
                      <span
                        id="react-select-42-live-region"
                        class="css-7pg0cj-a11yText"
                      ></span
                      ><span
                        aria-live="polite"
                        aria-atomic="false"
                        aria-relevant="additions text"
                        class="css-7pg0cj-a11yText"
                      ></span>
                      <div class="css-13cymwt-control">
                        <div class="css-hlgwow">
                          <div class="css-1dimb5e-singleValue">1997</div>
                          <input
                            id="react-select-42-input"
                            tabindex="0"
                            inputmode="none"
                            aria-autocomplete="list"
                            aria-expanded="false"
                            aria-haspopup="true"
                            role="combobox"
                            aria-readonly="true"
                            class="css-1hac4vs-dummyInput"
                            value=""
                          />
                        </div>
                        <div class="css-1wy0on6">
                          <span class="css-1u9des2-indicatorSeparator"></span>
                          <div
                            class="css-1xc3v61-indicatorContainer"
                            aria-hidden="true"
                          >
                            <svg
                              height="20"
                              width="20"
                              viewBox="0 0 20 20"
                              aria-hidden="true"
                              focusable="false"
                              class="css-8mmkcg"
                            >
                              <path
                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="input-group mb-3">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="cvv"
                      /><span class="input-group-text" id="basic-addon2"
                        ><i class="fa-solid fa-credit-card"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="card">
                <div class="card-header py-3">
                  <h4 class="mb-0">Your Cart</h4>
                </div>
                <div class="card-body pt-3">
                  <div class="checkout-right">
                    <span class="checkout-title">ADD A TIP FOR YOUR RIDER</span>
                    <p>
                      The entire amount will be transfered to the rider.valid
                      only if you pay online
                    </p>
                    <div class="">
                      <span class="badge badge-primary me-2 c-pointer"
                        ><i class="fa-solid fa-dollar-sign"></i>+5</span
                      ><span class="badge badge-primary me-2 c-pointer"
                        ><i class="fa-solid fa-dollar-sign"></i>+5</span
                      ><span class="badge badge-primary me-2 c-pointer"
                        ><i class="fa-solid fa-dollar-sign"></i>+5</span
                      >
                    </div>
                    <div class="bill-details mt-4 border-bottom">
                      <h6>Bill Details</h6>
                      <div
                        class="d-flex align-items-center justify-content-between mb-3"
                      >
                        <span>item Total</span
                        ><span><i class="fa-solid fa-dollar-sign">585</i></span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between mb-3"
                      >
                        <span>Deliver Fee | 4.7kms</span
                        ><span class="text-primary"
                          ><del class="me-3 del-color"
                            ><i class="fa-solid fa-dollar-sign"></i>24.00</del
                          >FREE</span
                        >
                      </div>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between mt-3 border-bottom"
                    >
                      <span class="mb-3"
                        >item Discount
                        <i class="fa-solid fa-circle-exclamation"></i></span
                      ><span class="text-primary mb-3"
                        >-<i class="fa-solid fa-dollar-sign"></i>79.99</span
                      >
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between my-3"
                    >
                      <span class="mb-3">To pay</span
                      ><span class="text-primary mb-3"
                        >-<i class="fa-solid fa-dollar-sign"></i>23.99</span
                      >
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="b3"  (click)=" onSubmit()">
                      PLACE ORDER
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
