
    
   
 
  <!-- <div class="header"> -->
<section class="main">
    <div class="header-heading">
          <h3>It's Great Time For A Good Taste Of Variety Of Foods</h3>
          <h1><span>HAPPY MEALS</span> FOR <br/>WEEK</h1>
          <p class='details'>Enjoy your meals with us</p>
          <div class="header-btns">
              <a href="/" class="header-btn">Customer</a>
              <a href="/" class="header-btn">Driver</a>
          </div>
      </div>
    </section>
  <!-- </div> -->