<!-- <app-navbar></app-navbar> -->
<app-sidebar></app-sidebar>
<div class="main-content">
<div class="card-body mt-5 ">
    <div class="book-btn">
        <button class="btn-book"><a href="customer/booking">BOOK NOW</a></button>
    </div>
    <h2>RESERVATION HISTORY</h2>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <td >Name</td>
              <td >Phone</td>
              <td >Email</td>
              <td>Date</td>
              <td>Guests</td>
              <td>Message</td>
              <td>Status</td>
            </tr>
          </thead>
         <tbody>
           <tr *ngFor="let booking of bookings | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
            <td>{{booking.attributes.name}}</td>
            <td>{{booking.attributes.phone}}</td>
            <td>{{booking.attributes.email}}</td>
            <td>{{booking.attributes.time | date: "dd MMM YYYY"}}</td>
            <td>{{booking.attributes.guests}}</td>
            <td>{{booking.attributes.message}}</td>
            <td>{{booking.attributes.status}}</td>
           </tr>
         </tbody>
        </table>
        <div class="pagination">
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
  </div>
